header, nav, main, footer { display: block; 
}
#wrapper { width: 80%;
           min-width: 700px;
		   max-width: 1024px;
           margin-right: auto;
		   margin-left: auto;
		   padding: 2%;
		   border-radius: 10px;
		   background-color: #90C7E3;
		   box-shadow: 4px 4px 4px #666666;
		   border: 1px solid green;
}

h1 {font-family: Impact, sans-serif;
		font-size: 5em;
		color: white;
		text-align: center;
		text-shadow: 1px 1px 1px black;
}

header p {margin: auto;
	padding-right: 5%;
	padding-left: 5%;
}

header {text-align: center;
	padding-bottom: 10px;
}

body {background-color: #cc99ff;
}

footer {text-align: right;
		padding-right: 10%;
}

fieldset {border: 1px solid green;
		border-radius: 15px;
}		

legend {font-weight: bold;
}

@media only screen and (max-width: 1024px) {
		body {background-image: none;
		margin: 0px;
		padding: 0px;}
		h1 {margin: 0px;}
		header p {padding: 2em;}
		main {padding: 1em;
		margin-left: 0px;
		font-size: 90%;}
		footer {margin: 0px;}
		#wrapper {width: auto;
		min-width: 0px;
		margin: 0px;
		box-shadow: none;}
}

@media only screen and (max-width: 768px) {
		h1 {height: 100%;
		font-size: 1.5em;
		padding-left: .3em;}
		main {padding: .1em 0 .1em .4em;}
		main img {display: none;
		padding: 0px;}
		main ul {list-style-position: outside;}
		footer {padding: 0px;}
}